body{
    margin:0;
    padding:0px;
}

h1{
    font-size: 3.9rem;
    margin-bottom: 16px;
}

h2{
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
    color:hsla(0, 0%, 18%, 0.628);  
}

h3{
    font-size: 2rem;
    color:hsla(0, 0%, 18%, 0.628);  
    font-weight: 200;
}

.header {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    height:80px;
    /* background-color: lemonchiffon;
    border-radius: 30px; */
    padding: 0px 15px;
}

.header a {
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    text-decoration: none;
    color:black;
    font-size: 1.8rem;
    font-weight: 600;
}

.header > a{
    font-size: 2.4rem;
}

#left{
    display:flex;
    align-items: center;
    margin-left:auto;
    gap: 50px;
}

#left > a{
    font-weight: 500;
}


.content, .analysis{
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.content{
    margin-top: 100px;
}

.about-me{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    margin: 10px 0px;

}

#content-2 {
    margin-top: 100px;
}

#pic > img{
    width: 400px;
    height: auto;
}

/* .analysis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0px auto; 
}*/

.analysis div:not(.textbar){
    width:80%;
}

.analysis{
    gap: 60px 20px;
    width:90%;
}

.analysis:nth-child(2n) {
    grid-column: 2;
}